body {
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/bg/nijikas.png);
    background-color: #000;
    backdrop-filter: brightness(60%);
    background-size: cover;
    background-position: center, center;
}

.title h1 {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 8vw;
    color: #d7ca00;
}

.title h1 b {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-weight: 900;
    color: #d7ca00;

}

.title h1 em {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    color: #d7ca00;
}

.grid-container {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 10px;

}

.grid-content {
    padding: 20px;
    text-align: center;
}

.grid-on-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 25px;
}

.grid-on-content img {
    height: 27%;
}

#btri-logo {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#intro {
    font-family: 'Noto Sans', sans-serif;
    color: #d7ca00;
    font-size: calc(18px + 0.390625vw);
}

#intro p {
    font-size: calc(15px + 0.390625vw);
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
    color: #d7ca00;
    font-weight: 500;
}

.question {
    color: #ffffff;
    text-align: end;
}

@media only screen and (max-width: 650px) {
    #btri-logo {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 70%;
    }

    .grid-container {
        display: contents;
    }

    .grid-on-grid {
        display: contents;
    }

    #intro {
        font-size: 20px;
    }

    #intri p {
        font-size: 15px;
    }
}
